<mat-toolbar color="primary">
  <span class="title-center">Student</span>
</mat-toolbar>

<div class="container mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="indexNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Index number</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.indexNumber}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.firstName, row.lastName, row.indexNumber)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="openDialog(3, row.id, row.firstName, row.lastName, row.indexNumber)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]='100' [pageSizeOptions]="[10, 20, 50]" [showFirstLastButtons]="true" (page)="getNext($event)"></mat-paginator>

</div>